.gradient {
    background: linear-gradient(90deg, rgb(0, 42, 255) 0%, rgba(15, 152, 85, 1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

li {
    color: var(--theme);
}